@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/* 
==================
= Global Designs =
==================
*/

:root {
    --accent-color: #863d51;
}

* {
    padding: 0;
    margin: 0;
}



/* Background Video */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.562);
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hero header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

nav {
    z-index: 2;
}

.hero header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}



/* Navbar */
.savina-navbar-mobile {
    display: none;
}

nav {
    grid-area: nav;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    margin: 0 auto;
    gap: 1rem;
    align-items: center;
}

.cv {

    position: relative;
    isolation: isolate;
    margin: 2em 3em;
    letter-spacing: .2em;
    padding: .5em 1.2em;
    font-weight: 100;
    font-size: 1.15em;
    cursor: pointer;
}

.cv::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--accent-color);
    transform: skew(340deg);
    z-index: 0;
}

.cv:hover::before {
    background: #7c3b4c;
}

.cv a {
    position: relative;
    color: white;
    z-index: 1;
    font-weight: 500;
}

.savina-navbar {
    width: auto;
    max-width: none;
    font-size: 2.8em;
    letter-spacing: .05em;
    color: var(--accent-color);
    font-weight: 1000;
    align-self: center;
    margin: 0;
}

nav .icons {
    margin-left: 1.5em;
}

nav i,
.contact-me i {
    padding: .25em;
    font-size: 1.2em;
    color: #e4e4e4;

}

.icons a .contact-me .icons a .contact-me a {
    display: inline-flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #091114;
    transition:
        transform 0.3s ease,
        color 0.3s ease,
        text-shadow 0.3s ease;
}


/* LinkedIn */
.icons a:nth-child(1):hover,
.contact-me a:nth-child(1):hover {
    color: white;
    text-shadow:
        0 0 10px #0ce5da,
        0 0 20px #0ce5da;
    transform: translateY(-3px) scale(1.1);
}


/* Instagram */
.icons a:nth-child(2):hover,
.contact-me a:nth-child(2):hover {
    color: white;
    text-shadow:
        0 0 8px #833ab4,
        0 0 16px #c13584;
    transform: translateY(-3px) scale(1.1);
}


/* Email */
.icons a:nth-child(3):hover,
.contact-me a:nth-child(3):hover {
    color: white;
    text-shadow:
        0 0 8px #dfc1c1,
        0 0 16px #c13584;
    transform: translateY(-3px) scale(1.1);
}

nav li {
    list-style: none
}

nav a {
    margin: 0.5em;
    margin: .2em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul a {
    position: relative;
    letter-spacing: .1em;
    padding: 0 10px;
    display: block;
    color: #fff;
    font-weight: 200;
    font-size: 1.2em;
    line-height: 2em;
}

nav ul a.underline-anim::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
}

nav ul a:hover::after {
    transform: scaleX(1);
}



/* Header */
header {
    background-color: transparent;
    color: white;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-transform: uppercase;
    letter-spacing: .03em;
    padding: 0em .15em;
    font-size: 5em;
    line-height: 85px;
    font-weight: 900;
}

header div h1 {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(110deg, #ffffff, var(--accent-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header>h1 {
    font-size: 3em;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 10px;
}



/* Headers without the background video */
.hero-film,
.hero-media,
.hero-tv,
.hero-about {
    background: linear-gradient(180deg, #5e2a53, #30162b, #7e4372, #0f0f0f);
    height: min-content;
}

.film,
.media,
.tv,
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 7% 0;
    height: 100%;
}

.film h1,
.media h1,
.tv h1,
.about h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--accent-color);
}

.film div,
.media div,
.tv div {
    display: flex;
    margin-top: 3%;
    max-width: 50rem;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.film iframe,
.media iframe,
.tv iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 1em;
    cursor: pointer;
    border: none;
}

.tv iframe {
    width: 75%;
}


/* About */
.about-container {
    display: flex;

    max-width: 50rem;
    width: 40%;
    margin: 3em 0;
    border: 2px solid #09111436;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: .4em;
    border-bottom-left-radius: .4em;
    flex-direction: column-reverse;
}

.about-writing {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.film div p,
.media div p,
.tv div p,
.about-writing p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 0 4em;
    margin: 1em .3em;
    color: #fff;
    font-size: clamp(.9em, 1.2vw, 1.15em);
    font-weight: 400;
    max-width: 800px;
}

.film div p,
.media div p,
.tv div p {
    margin: 2em 0;
    margin-bottom: 20%;
}


.about img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-top-left-radius: 1.8em;
    border-top-right-radius: 1.8em;

    border-bottom-right-radius: .2em;
    border-bottom-left-radius: .2em;
}


/* Aside */
aside {
    grid-area: aside;
    background-color: var(--accent-color);
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aside-card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--accent-color);
    margin: 4em 5em;
    justify-items: center;
    align-items: center;
}

#aside-card p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 15% 1em;
    padding-left: 10%;
    color: #fff;
    font-size: clamp(.9em, 1.2vw, 1.15em);
    font-weight: 400;
}

aside iframe {
    max-width: 40rem;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 1em;
    cursor: pointer;
    border: none;
}

.ad-bttn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -99%);

    width: 20%;
    background: var(--accent-color);
    color: white;
    padding: .74em 4em;
    text-transform: uppercase;
    clip-path: polygon(8% 0, 92% 0, 100% 100%, 0% 100%);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 10;
}

.ad-bttn a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: 100;
    letter-spacing: .08em;
}


/* Main */
main {
    background-color: #0f0f0f;
    color: white;
    grid-area: main;
}


/* My work cards */
.work-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 260px;
    gap: 1.5rem;
    margin: 4em 5vw;
}


/* Base card */
.card {
    position: relative;
    overflow: hidden;
    border-radius: 1.2rem;
    background: #111;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}


/* Images */
.work-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
    cursor: pointer;
}


/* Slanted button */
.slanted-bttn {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    display: inline-block;
    z-index: 5;
}


/* Slanted button background */
.slanted-bttn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #ececec;
    transform: skew(-20deg);
    border-radius: 0.4rem;
    z-index: -1;
}


/* Slanted button text */
.slanted-bttn a {
    position: relative;
    display: inline-block;
    color: #091114;
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1.3rem);
    letter-spacing: .08em;
    padding: 0.7em 1.2em;
    font-weight: 600;
    z-index: 2;
}


/* Work Title */
.work-title,
.showreel-title {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    gap: .2em;
    margin-bottom: 1em;
}

.showreel-title {
    gap: .1em;
}

.showreel {
    margin: 1em 0;
    margin-bottom: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showreel iframe {
    max-width: 50rem;
    width: 40%;
    aspect-ratio: 16 / 9;
    border-radius: 1em;
    cursor: pointer;
    border: none;
}

.showreel h1:nth-child(1),
.work-title h1:nth-child(1) {
    color: #ececec;
}

.showreel h1:nth-child(2),
.work-title h1:nth-child(2) {
    color: var(--accent-color);
}



/* Footer */
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me {
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-me div {
    display: flex;
}

.contact-me h1 {
    color: var(--accent-color);
}

footer {
    grid-area: footer;
    background: linear-gradient(180deg, #0f0f0f, #200f1d, #3f1d38);
}

footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 1em;
    margin-top: 2em;
    text-align: center;
    color: #dadada;
}



/* Grid Layout */
body {
    font-family: "Bebas Neue", sans-serif;
    background-color: #0f0f0f;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "header"
        "aside"
        "main"
        "footer";
}





/* Desktop */
@media (min-width: 900px) {

    /* Animated banner */
    .banners {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin: 4em 0;
    }

    .banner {
        overflow: hidden;
        white-space: nowrap;
        padding: 1.2em 0;
    }

    /* colors */
    .banner:nth-child(1) {
        background-color: #726DA8;
    }

    .banner:nth-child(2) {
        background-color: var(--accent-color);
        z-index: 5;
    }

    .banner:nth-child(3) {
        background-color: #CEB7B3;
    }

    .banner-angled {
        transform: rotate(-3deg);
        width: 150%;
        margin-left: -25%;
    }

    /* marquee system */
    .track {
        display: flex;
        width: max-content;
    }

    /* each half */
    .group {
        display: flex;
    }

    /* text */
    .track span {
        font-family: "Montserrat", sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
        color: #091114;
        padding-right: 3.5rem;
    }

    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }

    /* apply animation */
    .banner-right .track,
    .banner-left .track {
        animation: marquee 100s linear infinite;
    }

    .banner-angled .track {
        animation: marquee 80s linear infinite;
    }


    /* Cards */
    .card:hover {
        transform: translateY(-6px);
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
    }

    .card:hover img {
        transform: scale(1.05);
    }

    /* Featured variations */
    .card.large {
        grid-column: span 2;
        grid-row: span 2;
    }

    .card.wide {
        grid-column: span 2;
    }

    .card.tall {
        grid-row: span 2;
    }

    /* Slanted button hover */
    .slanted-bttn:hover::before {
        transform: skew(-20deg) scale(1.05);
        background: #ffffff;
    }
}




/* Mobile */
@media (max-width: 900px) {

    /* Navbar */
    .cv {
        position: absolute;
        top: -2.5%;
        right: -5%;

        pointer-events: auto;
        width: 6.5em;
    }

    .cv a {
        font-size: .8em;
        font-weight: 400;
    }

    .retract-nav {
        display: none;
    }

    .savina-navbar,
    .hide-mobile {
        display: none;
    }

    .icons {
        display: none;
    }

    nav {
        pointer-events: none;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        z-index: 1000;
        width: 100vw;
    }

    nav::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #36151eee;
        z-index: 1;

        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out;
    }

    nav ul {
        margin: .9em;
        margin-top: 7em;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        transform: translateX(-200%);
        transition: transform 0.4s ease-in-out;
    }


    nav.open::before {
        transform: translateX(0);
    }

    nav.open {
        pointer-events: auto;
    }

    nav.open ul {
        transform: translateX(0);
    }

    .savina-navbar-mobile {
        display: block;
    }

    /* BURGER ICON */
    .expand-nav,
    .retract-nav {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        height: 2em;
        width: 2.5em;
        z-index: 2000;
        border-top: .35em solid white;
        border-bottom: .35em solid white;
    }

    .expand-nav::before,
    .retract-nav::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        border-top: .35em solid white;
        transition: all 0.15s ease;
    }


    .expand-nav:active,
    .retract-nav:active {
        box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.5);
        transform: translateY(1px) scale(.96);
    }



    /* Header */
    .hero header {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 2;
    }



    /* Headers without the background video */
    .film,
    .media,
    .tv,
    .about {
        margin: 40% 0;
    }

    .film h1,
    .media h1,
    .tv h1,
    .about h1 {
        font-size: 2em;
    }

    .showreel iframe,
    .film div,
    .media div {
        width: 90%;
        margin: 5% 0;
    }

    .showreel iframe {
        margin: 0;
    }

    .tv iframe {
        margin-top: 1em;
        width: 100%;
        height: 100%;
    }

    .film div p,
    .media div p,
    .tv div p {
        padding: 0;
        margin: 1em .3em;
        margin-bottom: 7em;
        color: #fff;
        font-size: clamp(.9em, 1.2vw, 1.15em);
        font-weight: 400;
        max-width: 800px;
    }



    /* Aside */
    #aside-card {
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        overflow: hidden;
    }

    #aside-card p {
        font-size: 1em;
        width: 90%;
    }

    .ad-bttn {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -99%);

        width: 40%;
        background: var(--accent-color);
        color: white;
        padding: .74em 4em;
        text-transform: uppercase;
        clip-path: polygon(15% 0, 85% 0, 100% 100%, 0% 100%);

        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 10;
    }

    .ad-bttn a {
        font-size: 1.4em;
        letter-spacing: .1em;
    }




    /* About */
    .about-container {
        max-width: 30rem;
        width: 80%;
    }

    .about-writing {
        gap: 1em;
    }

    .about-writing p {
        padding: 0 1em;
        margin: 1em .3em;
        font-size: .9em;
    }


    .about img {
        margin-bottom: 2em;
    }




    /* Main */
    .banners {
        display: none;
    }

    .my-work {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .work-cards {
        width: 80%;
        grid-template-columns: 1fr;
        gap: 3rem;
        margin: 1em 0em;
        margin-bottom: 3em;
    }



    /* Footer */
    footer p {
        font-size: .9em;
        margin: 1em 0;
        margin-top: 2em;
    }
}