@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Bebas Neue", sans-serif;
    padding: 0;
    margin: 0;
}


.hero-video {
    background-color: #9c438aab;
}

.hero-video header video {
    width: 50%;
    height: auto;
    margin-top: 2em;
    border-radius: 1em;
}

/* Background Video */
.hero,
.hero-video {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero nav,
.hero-video nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hero header,
.hero-video header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.hero nav,
.hero header,
.hero-video nav,
.hero-video header {
    position: relative;
    z-index: 1;
}

.hero::after,
.hero-video::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.507);
}



/* Navbar */
nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    margin: 0 auto;
    gap: 1rem;
    align-items: center;
}

.get-in-touch {

    position: relative;
    margin: 2em 3em;
    letter-spacing: .2em;
    padding: .5em 1.2em;
    font-weight: 100;
    font-size: 1.15em;
    cursor: pointer;
}

.get-in-touch::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #36151E;
    transform: skew(340deg);
    z-index: -1;
}

.get-in-touch:hover::before {
    background: #36151e9d;
}

.get-in-touch a {
    color: white;
}

.savina-navbar {
    width: auto;
    max-width: none;
    font-size: 2.8em;
    letter-spacing: -1px;
    letter-spacing: .05em;
    color: #36151E;
    font-weight: 1000;
    align-self: center;
    margin: 0;
}

nav .icons {
    margin-left: 1.5em;
}

nav i {
    padding: .25em;
    font-size: 1.2em;
    color: #e4e4e4;

}

.icons a {
    display: inline-flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #091114;
    transition: all 0.3s ease;
}

/* LinkedIn */
.icons a:nth-child(1):hover {
    color: white;
    text-shadow:
        0 0 10px #0ce5da,
        0 0 20px #0ce5da;
    transform: translateY(-3px) scale(1.1);
}

/* Instagram */
.icons a:nth-child(2):hover {
    color: white;
    text-shadow:
        0 0 8px #833ab4,
        0 0 16px #c13584;
    transform: translateY(-3px) scale(1.1);
}

nav li {
    list-style: none
}

nav a {
    margin: 0.5em;
    margin: .2em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul a {
    position: relative;
    letter-spacing: .1em;
    padding: 0 10px;
    display: block;
    color: #fff;
    font-weight: 200;
    font-size: 1.2em;
    line-height: 2em;
}

nav ul a.underline-anim::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
}

nav ul a:hover::after {
    transform: scaleX(1);
}



/* Header */
header {
    background-color: transparent;
    color: white;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-transform: uppercase;
    letter-spacing: .03em;
    padding: 0em .15em;
    font-size: 5em;
    line-height: 85px;
    font-weight: 900;
}



header div h1 {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(110deg, #ffffff, #36151E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header>h1 {
    font-size: 3em;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 10px;
}


/* Aside */
aside {
    grid-area: aside;
    background-color: #36151E;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside #aside-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #36151E;
    margin: 4em 5em;
    justify-items: center;
    align-items: center;
}

aside #aside-card p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 15% 1em;
    padding-left: 10%;
    color: #fff;
    font-size: clamp(.9em, 1.2vw, 1.15em);
    font-weight: 400;
}

aside #aside-card video {
    width: 30em;
    border-radius: 1em;
    margin-left: 3em;
    cursor: pointer;
}

.ad-bttn {
    position: absolute;
    top: 55.4em;
    left: 50;
    background: #36151E;
    color: white;
    padding: .74em 12em;
    text-transform: uppercase;
    clip-path: polygon(8% 0, 92% 0, 100% 100%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ad-bttn a {
    color: #fff;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: 100;
    letter-spacing: .08em;
}


/* Main */
main {
    background-color: #0f0f0f;
    color: white;
    grid-area: main;
}


/* Video & Animation page card links */
.link-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin: 2em;
}

.card {
    display: flex;
    position: relative;
    width: 100%;
    border-radius: 1em;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 1em;
    transition: opacity .4s ease-in-out;
}

.card img:hover {
    opacity: 0;
}

.slanted-bttn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.slanted-bttn a {
    position: relative;
    z-index: 1;
    background: transparent;
    color: #091114;
    text-decoration: none;
    font-size: 2.2em;
    letter-spacing: .1em;
    padding: 0.5em .8em;
}

.slanted-bttn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #ececec;
    transform: skew(-20deg);
    z-index: 0;
}



/* Animated banner */
.banners {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 4em 0;
}

.banner {
    overflow: hidden;
    white-space: nowrap;
    padding: 1.2em 0;
}

/* colors */
.banner:nth-child(1) {
    background-color: #726DA8;
}

.banner:nth-child(2) {
    background-color: #36151E;
    z-index: 5;
}

.banner:nth-child(3) {
    background-color: #CEB7B3;
}

.banner-angled {
    transform: rotate(-3deg);
    width: 150%;
    margin-left: -25%;
}

/* marquee system */
.track {
    display: flex;
    width: max-content;
}

/* each half */
.group {
    display: flex;
}

/* text */
.track span {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #091114;
    padding-right: 3.5rem;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* apply animation */
.banner-right .track,
.banner-left .track {
    animation: marquee 100s linear infinite;
}

.banner-angled .track {
    animation: marquee 80s linear infinite;
}



/* My work card links */
.my-work {
    display: flex;
    margin: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work-title {
    display: flex;
}

.work-title h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 .25em;
}

.work-title h1:nth-child(1) {
    color: #ececec;
}

.work-title h1:nth-child(2) {
    color: #36151E;
}

.work-card img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 2em;
    transition: transform .3s ease-in-out;
}

.work-card img:hover {
    transform: scale(1.1);
}

.work-card {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    margin: 2em 0;
}

.img-wrapper {
    overflow: hidden;
    border-radius: 1em;
}

.img-wrapper:nth-child(1) {
    grid-row: span 2;
}



/* Footer */
footer {
    grid-area: footer;
    display: flex;
    background-color: #0f0f0f;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 1em;
    margin-top: 10em;
    color: #dadada;
}



/* Grid Layout */
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "header"
        "aside"
        "main"
        "footer";
}